@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;600;700;900&family=Lato:ital,wght@0,100;0,400;0,700;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --color-dark-sky: #223a66;
  --color-light-red: #e12454;
  --color-light-sky: #f4f9fc;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-sky-rgba: 34, 58, 102;
  --color-bg-light: #f4f9fc;

  /* Text */
  --font-weight-bolder: bolder;
  --font-weight-bold: bold;
  --font-size: 1rem;
  --font-size-big: 2.5rem;
  --font-weight-600: 600;
  --font-weight-norman: 500;
  --font-family-fira: "Fira sans", "sans-serif";
}

/* Global CSS */
body {
  font-family: var(--font-family-fira);
}
p {
  margin: 0;
}
.my-btn {
  padding: 0.5rem 2rem;
  border-radius: 25px;
  text-transform: uppercase;
  color: var(--color-white);
  font-size: 0.9rem;
  font-weight: 600;
  outline: none;
  border: none;
}
h2 {
  font-size: var(--font-size-big);
  font-weight: bolder;
}
.box-size {
  box-sizing: border-box;
}
.line {
  position: relative;
}
.line::after {
  position: absolute;
  content: "";
  width: 5%;
  height: 0.28rem;
  background-color: var(--color-light-red);
  bottom: -1rem;
  left: 50%;
  transform: translateX(-50%);
}
.title,
.title-discription {
  color: var(--color-dark-sky);
}
a {
  text-decoration: none;
}
/* Header CSS */
#head {
}
/* Top Nav bar */
#head .top-section {
  background: var(--color-dark-sky);
  color: var(--color-white);
  padding: 0.8rem 0;
}
#head .top-section .top-left {
}
#head .top-section .top-left p {
  margin: 0;
  padding-right: 1rem;
}
#head .top-section .top-left i {
  margin-right: 0.5rem;
}
#head .top-section .top-right {
}
#head .top-section .top-right p {
  margin: 0;
  font-weight: var(--font-weight-600);
}
#head .top-section .top-right p span {
  font-size: 1.1rem;
  font-weight: var(--font-weight-bold);
}
/* Menu */

#head .my-menu ul li a {
  color: var(--bs-black);
  font-weight: var(--font-weight-600);
  margin-left: 1.2rem;
}

#head .my-menu ul li a:hover {
  color: var(--color-light-red);
}
/* Hero */
#hero {
  background: url(../images/bg/slider-bg-1.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}
#hero .hero {
  padding: 5rem 0;
  margin-bottom: 5rem;
}

#hero .hero .subtitle {
  position: relative;
  text-transform: uppercase;
  color: rgba(var(--color-sky-rgba), 0.5);
}
#hero .hero .subtitle::before {
  content: "";
  position: absolute;
  width: 10%;
  height: 20%;
  background-color: var(--color-light-red);
  top: -16px;
  left: 0;
}
#hero .hero h1 {
  font-size: 3.6rem;
  text-transform: capitalize;
  color: var(--color-dark-sky);
  margin-bottom: 1rem;
}
#hero .hero p {
  color: rgba(var(--color-sky-rgba), 0.9);
}
#hero .hero .hero-btn {
  background: var(--color-light-red);

  margin-top: 1.5rem;
}
#hero .hero .hero-btn i {
  margin-left: 0.5rem;
}
/* Appoinment */
#appoinment {
  margin-top: -8rem;
}
#appoinment .appoinment-item {
  color: var(--color-dark-sky);
  border-radius: 25px;
  box-shadow: 0 5px 10px 7px rgb(0 0 0 / 5%);
  padding: 3rem 1.5rem;
  height: 25rem;
  background: var(--color-white);
}
#appoinment .appoinment-item .item-icon {
  font-size: 3rem;
  color: var(--color-dark-sky);
}
#appoinment .appoinment-item .item-subtitle {
  color: var(--color-dark-sky);
}
#appoinment .appoinment-item .item-description {
  margin: 1rem 0;
  line-height: 2rem;
}
#appoinment .appoinment-item .item-btn {
  background-color: var(--color-dark-sky);
  margin-top: 1rem;
}
#appoinment .appoinment-item .item-info li {
  border-bottom: 1px solid rgba(var(--color-sky-rgba), 0.1);
  list-style: none;
  display: flex;
  justify-content: space-between;
}

/* Personal Care */
#personal-care {
  padding: 8rem 0;
  margin-top: 5rem;
}
#personal-care .care-left {
}
#personal-care .care-left:first-child {
  margin-top: -5rem;
}
#personal-care .care-left:first-child img {
  width: 100%;
  height: 50%;
  margin-bottom: 20px;
}

#personal-care .care-right {
  margin-top: -2rem;
  color: var(--color-dark-sky);
}
#personal-care .care-right h2 {
  font-size: 2.3rem;
  line-height: 3.1rem;
}
#personal-care .care-right p {
  margin: 1.5rem 0;
}
#personal-care .care-right button {
  background-color: var(--color-light-red);
}
#personal-care .care-right button i {
  margin-left: 10px;
}
#personal-care img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 5px 5px 5px rgb(0 0 0 / 5%);
}
/* Successful Project */

#successful-project {
  background: var(--color-bg-light);
}

#successful-project .projects {
  background: var(--color-dark-sky);
  color: var(--color-white);
  padding: 2.5rem 0;
  text-align: center;
}
#successful-project .projects .bc-icon {
  position: relative;
  z-index: 100;
}
#successful-project .projects i {
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 4rem;
  color: #9cbad95c;
  z-index: -1;
}
#successful-project .title {
  font-size: 1rem;
  color: #adb5bd;
}
#successful-project .number {
  font-size: 5rem;
  font-weight: bolder;
}
#successful-project .number span {
  font-size: 1rem;
  color: #adb5bd;
}

/* Award Winning */
#award {
  background: var(--color-bg-light);
  padding: 5rem 0;
}
#award .my-card .card-head {
  display: flex;
  align-items: center;
}
#award .my-card .card-head i {
  font-size: 3rem;
  color: var(--color-light-red);
}
#award .my-card .card-head h5 {
  font-size: 1.5rem;
  margin-left: 2rem;
}
/* Appoiment Form */
#appoinment-form {
  padding: 5rem 0;
}
#appoinment-form .title {
}
#appoinment-form .appoinment-form-left {
  position: relative;
}
#appoinment-form .appoinment-form-left img {
  width: 95%;
}
#appoinment-form .appoinment-form-left p {
  background: var(--color-dark-sky);
  font-size: 3.5rem;
  font-weight: bolder;
  color: var(--color-bg-light);
  position: absolute;
  width: 90%;
  left: 8%;
  bottom: 0;
}
#appoinment-form .appoinment-form-left p i {
  font-size: 1.5rem;
  border: 3px solid;
  padding: 10px;
  border-radius: 50%;
  color: #adb5bd;
}
#appoinment-form .my-input {
  background: var(--color-bg-light);
  color: var(--color-dark-sky);
}
#appoinment-form .my-input::placeholder {
  color: var(--color-dark-sky);
}

#appoinment-form .my-btn {
  background: var(--color-dark-sky);
}
/* Served Patients */

#sarved-patients {
  background: var(--color-bg-light);
  padding: 5rem 0;
}
#sarved-patients h2 {
}
#sarved-patients .line::after {
  width: 10%;
  height: 5px;
}
#sarved-patients .title-discription {
  margin-top: 2rem;
}
#sarved-patients img {
  width: 100px;
  height: 100px;
  border: 5px solid #adb5bd;
}

#sarved-patients .quotation {
  position: relative;
}
#sarved-patients .quotation i {
  position: absolute;
  bottom: -25px;
  right: 1.5rem;
  font-size: 4rem;
  opacity: 0.6;
  color: var(--color-light-red);
}

/* Partners Who support us */
#partner {
  padding: 5rem;
}
#partner .line::after {
  width: 10%;
  height: 5px;
}

/* Footer */
#footer {
  padding: 5rem 0;
  background-color: var(--color-bg-light);
}
#footer h4 {
  color: var(--color-dark-sky);
}
#footer p {
  color: #6f8ba4;
}
#footer .footer-list ul {
  margin-top: 1.3rem;
}
#footer .footer-list .line::after {
  width: 30%;
  left: 15%;
  bottom: -30%;
}
#footer .footer-list ul li,
#footer .footer-list ul li a {
  margin-top: 0.5rem;
  color: #6f8ba4;
  font-size: 1.1rem;
}
#footer .footer-list ul span {
  font-size: 1.5rem;
  font-weight: bold;
}
#footer .list-icon {
  margin-top: 0.5rem;
}
#footer .list-icon li a {
  font-size: 1rem;
  padding: 0.8rem 1rem;
  background: #6f8ba4;
  color: var(--color-white);
  border-radius: 50%;
}

#footer .sub-form {
  position: relative;
}
#footer .sub-form input {
}
#footer .sub-form button {
  position: absolute;
  right: 0;
  top: 0;
  background: var(--color-dark-sky);
}
#footer .sub-form button:hover {
  background: var(--color-light-red);
}

//Scroll 

#scrollToTopBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  z-index: 99999;
  background-color: var(--color-dark-sky);
  border: none;
}

